# Block all by default
/*

!.gitignore

!configuration.yaml
!automations.yaml
!input_texts.yaml
!media_players.yaml
!scenes.yaml
!scripts.yaml
!sensors.yaml
!switches.yaml
!templates.yaml
!generic_hygrostat.yaml
!climate.yaml

!.storage/
.storage/*
!.storage/lovelace.lovelace_map
